@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  /* Main Color */
  /* --themeColor: #21bf73; */
  --themeColor: #ffc905;
  /* --themeColorDark: #39b27b; */
  --themeColorDark: #2b6777;
  --themeLightColor: #56d598;
  --secondaryColor: #b0eacd;
  --themeDarkColor: #2e374f;
  --themeWhiteColor: #ffffff;

  /* Greyscale Color */
  --lightColor: #9ea3ae;
  --lightDeepColor-1: #9ea3ae;
  --lightDeepColor-2: #e1f0da;
  --lightDeepColor-3: #d3d5da;
  --lightDeepColor-4: #9ea3ae;
  --darkColor: #6c727f;
  --darkDeepColor-1: #4d5461;
  --darkDeepColor-2: #394150;
  --darkDeepColor-3: #212936;
  --darkDeepColor-4: #0b0a0f;
  --color-teal: #004c59;
  --color-accent: #ff9600;
  --color-navy: #232f3e;

  /* Typography */
  --headline-1: 52px;
  --headline-2: 40px;
  --headline-3: 32px;
  --headline-4: 24px;
  --bodyXLarge: 20px;
  --bodyLarge: 18px;
  --bodyMedium: 16px;
  --bodySmall: 14px;
  --bodyXSmall: 10px;

  --top-nav-height: 4rem;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #212936;
}

body {
  background: #fafafa;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif !important;
  font-size: 14px;
}

.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-sm {
  width: 50px;
  width: 50px;
}

.img-md {
  width: 100px;
  width: 100px;
}

.product-img-sm {
  width: 50px;
  height: auto;
  border-radius: 4px;
}

.pay-img {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.pay-img:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.section {
  margin-top: 80px !important;
  margin-bottom: 40px !important;
}
.section-bottom {
  margin-top: 80px !important;
}

.f-12 {
  font-size: 12px;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}
.text-teal {
  color: var(--color-teal);
}
.text-accent {
  color: var(--color-accent);
}

.bg-light {
  background-color: var(--lightDeepColor-2) !important;
}

.bg-gray {
  background-color: #f7f7f7 !important;
}

.bg-navy {
  background-color: var(--color-navy) !important;
}

.bg-orange {
  background-color: #ff9600;
  color: #fff;
}
.btn-orange {
  background-color: #ff9600;
  color: #fff;
}
.btn-orange:hover {
  background-color: #cc7800;
}
.bg-olive {
  background-color: #b1cc0e;
  color: #fff;
}

.btn-olive {
  background-color: #b1cc0e;
  color: #fff;
}
.btn-olive:hover {
  background-color: #889c0b;
}

.bg-theme {
  background: var(--themeColor) !important;
}

.btn-theme {
  border-color: var(--themeColor) !important;
  background-color: var(--themeColor);
}
.btn-theme:hover {
  background-color: var(--color-accent) !important;
}

.border-theme {
  border-color: var(--themeColor) !important;
}

.bg-success {
  background: var(--themeColor) !important;
}
.btn-success {
  border-color: var(--themeColor) !important;
  background-color: var(--themeColor);
}
.border-success {
  border-color: var(--themeColor) !important;
}

.form-label {
  font-size: 12px !important;
}

.card {
  border: none;
}

.headline-1 {
  font-size: var(--headline-1);
}
.headline-2 {
  font-size: var(--headline-2);
}
.headline-3 {
  font-size: var(--headline-3);
}
.headline-4 {
  font-size: var(--headline-4);
}

.fs-xsm {
  font-size: 10px;
}
.fs-sm {
  font-size: 12px;
}
.fs-md {
  font-size: 14px;
}
.fs-lg {
  font-size: 18px;
}

.bodyXLarge {
  font-size: var(--bodyXLarge);
}
.bodyLarge {
  font-size: var(--bodyLarge);
}
.bodyMedium {
  font-size: var(--bodyMedium);
}
.bodySmal {
  font-size: var(--bodySmall);
}
.bodySmall {
  font-size: var(--bodySmall);
}
.bodyXSmall {
  font-size: var(--bodyXSmall);
}
.hero-bg {
  background: url("../images/hero-bg.svg");
  background-size: cover;
}

.nav-pills > li > button.active {
  background: var(--themeColor) !important;
  color: var(--themeWhiteColor) !important;
}
.nav-pills > li > button {
  color: var(--themeDarkColor) !important;
}

.col-xs-5-cols,
.col-sm-5-cols,
.col-md-5-cols,
.col-lg-5-cols {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-5-cols {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 768px) {
  .col-sm-5-cols {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-5-cols {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-5-cols {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.col-xs-8r,
.col-sm-8r,
.col-md-8r,
.col-lg-8r {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-8r {
  width: 12.5%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-8r {
    width: 12.5%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-8r {
    width: 12.5%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-8r {
    width: 12.5%;
    float: left;
  }
}

/* ============ For Swiper sliders ============ */
.swiper {
  width: 100%;
}
.swiper-slide {
  height: 300px;
}
/* ======================== */

/* =============== n line shows on text */
.line-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

.strike {
  text-decoration: line-through;
}

.shadow-smc {
  box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.1);
}
.shadow-mdc {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.footer-address {
  font-size: 11px;
}
.pop-up {
  animation: popup 0.05s linear;
}
.cursor-pointer {
  cursor: pointer;
}

.product-card {
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

p {
  margin: 0;
}

.row {
  margin: 0;
}
hr {
  margin: 0.5rem 0;
}
/* ============ Transition On Categories ============= */
.category:hover .hover {
  color: var(--themeColor);
}
.category img {
  transition: all 0.4s ease;
}
.category img:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

.banner {
  max-height: 200px;
  position: relative;
}
.banner::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: scaleX(0) skewX(35deg);
  transition: transform 0.25s ease-in;
}
.banner:hover::after {
  transform: scaleX(1) skewX(35deg);
}

.feature:hover i,
.feature:hover p:first-child {
  color: var(--color-accent);
  font-weight: 600;
}

/* ============= Registration Form Styles ============ */
.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}

.wrapper .option span {
  font-size: 14px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

.product-form {
  color: inherit;
  background: 0px center;
  opacity: 1;
  width: 100%;
  grid-area: 1 / 2;
  font: inherit;
  min-width: 2px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}

.w-20 {
  width: 20%;
  display: inline-block;
}

.w-80 {
  width: 80%;
  display: inline-block;
}

@media (width < 768px) {
  .w-20 {
    width: 100% !important;
  }
  .w-80 {
    width: 100% !important;
  }
}

.aside {
  height: calc(100vh - (var(--top-nav-height)));
}

.img-sm {
  height: 100px;
}

.img-md {
  height: 150px;
  object-fit: cover;
}
